@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Core Music</h1>
    <p>Please Click <a asp-area="" asp-controller="Songs" asp-action="Index">here</a> to see our tracks list</p>
</div>
